body {
	margin: 0;
	padding: 0;
}

#main {
	background: #E3EFFA;
	margin: 5px 25% 5px 25%;
	border: 5px solid #B2FEA6;
	padding: 0 5% 0 5%;
}


.adresse {
	width: 250px;
	font-size:18px;
	padding: 5px 10px 5px 10px;
}

.adresse li {
	list-style-type:none
}

.profil {
	display: flex;
	flex-direction: row;

}

.photo {
	width: 120px;
	margin: auto auto auto 35%;
}

.adresse,.photo {
	border: 3px solid #B2FEA6;
	border-radius: 10px;
	box-shadow:2px 2px 2px green;	
}

h1,h2{
	text-align: center;
	text-transform: uppercase;
}


h3,.uppercase {
	text-transform: uppercase;
}

h1 {
	font-size: 21px;
	color: #14564D;
}

h2 {
	font-size: 18px;
	padding-top:15px;
	color: #63B55A;
}


h3 {
	text-decoration: underline;
	font-size: 15px;
}

hr {
	height: 5px;
	background: #B2FEA6;
}


.frameworks {
	width: 45%;
}

.outils {
	width: 45%;
}

.certification p {
	font-weight: bold;
}

.niveau {
	color: orange;
	display: flex;
	margin: auto;
}



